<html>
  <head>
    <link rel="stylesheet" href="/static/css/tachyons.min.css"/>
    <style>
        html, body {
          margin: 0;
          height: 100%;
          overflow: hidden;
        }
        body {
          position: relative
        }
        canvas {
          border-color: black;
          border-width: 1;
        }
        button {
          outline: none;
        }
        .lock-screen {
          height: 100%;
          overflow: hidden;
          width: 100%;
          position: fixed;
        }
    </style>
  </head>
  <body class="ttl lock-screen">
    <div class="thank-you-area dn f1 black-70 items-center justify-center mw-50">
      <div class="pa7 mt7">
        Thank You!
      </div>
    </div>
    <div class="begin-splash black-70 flex items-center justify-center h-100 tc">
      <div class="flex flex-column">
        <span class="f3">draw this word</span>
        <div class="f-subheadline lh-solid mt2">{{word}}</div>
        <button class="begin-draw pointer dim mt5 ph3 pv2 f3 bg-white black-70 ba b--black-70 br2">begin</button>
      </div>
    </div>
    <div class="draw-area dn justify-center items-center">
      <div class="canvas">
        <div class="flex items-center justify-center">
          <button class="brush-pen pointer ph3 pv2 mt4 f3 bg-white black-70 ba b--black-70 br2">pen</button>
          <button class="brush-eraser pointer ph3 pv2 mt4 ml2 f3 bg-white black-70 ba b--black-70 br2">eraser</button>
        </div>
        <div id="canvas-container"></div>
      </div>
      <button class="absolute bottom-2 create-image dn pointer dim ph3 pv2 mt4 f3 bg-white black-70 ba b--black-70 br2">submit</button>
    </div>
    <script src="/static/js/jquery-3.3.1.min.js">
    </script>
    <script src="/static/js/p5.min.js"></script>
    <script>
      window.__BRUSH__ = 'PEN';
      window.__IS_DRAWING__ = false;
      var hasDrawn = false;
      function setBrush() {
        if (window.__BRUSH__ === 'ERASER') {
            stroke('rgba(255,255,255)'); // white
            strokeWeight(20); // big
        } else { // PEN
            stroke(0); // black
            strokeWeight(1); // small
        }
      }
      function setup() {
        var cnv = createCanvas(window.innerWidth, window.innerHeight);
        background(255,255,255);
        cnv.parent('canvas-container');
        strokeWeight(1);
        stroke(0);
      }

      function draw() {
        setBrush();
        if (mouseIsPressed) {
          if (!hasDrawn && mouseX !== Infinity && mouseY !== Infinity) {
            $('.create-image').removeClass('dn');
          }
          line(mouseX, mouseY, pmouseX, pmouseY);
        }
      }

    </script>
    <script>
      $(document).ready(function() {
        function show(selector, showClass) {
          $(selector).removeClass('dn');
          $(selector).addClass(showClass);
        }
        function hide(selector, showClass) {
          $(selector).addClass('dn');
          $(selector).removeClass(showClass);
        }
        function uploadImage(img) {
          var word = $('.word').text();
          $('.create-image').text('submitting...');
          $('.create-image').prop('disabled', true);
          $.ajax({
            url: '/',
            type: 'POST',
            data: {img: img, word: word},
            success: function() {
              window.__IS_DRAWING__ = false;
              hide('.draw-area', 'flex')
              show('.thank-you-area', 'flex')
              console.log('success');
              $('.create-image').text('submit');
            },
            error: function() {
              console.log('error');
              $('.create-image').text('could not submit :(');
            }
          });
        }
        focus($('.brush-pen'));
        $('.begin-draw').click(function() {
          window.__IS_DRAWING__ = true;
          hide('.begin-splash', 'flex');
          show('.draw-area', 'flex');
        });
        $('.create-image').click(function() {
          var canvas = document.getElementById("defaultCanvas0");
          var img = canvas.toDataURL("image/png");
          uploadImage(img);
        });
        $('.brush-pen').click(function() {
          window.__BRUSH__ = 'PEN';
          focus($(this));
          unfocus($('.brush-eraser'));
        });
        $('.brush-eraser').click(function() {
          window.__BRUSH__ = 'ERASER';
          focus($(this));
          unfocus($('.brush-pen'));
        });
      });
      function focus(selection) {
          $(selection).removeClass('black-70 bg-white');
          $(selection).addClass('bg-black-70 white');
      }
      function unfocus(selection) {
          $(selection).removeClass('bg-black-70 white');
          $(selection).addClass('black-70 bg-white');
      }
    </script>
  </body>
</html>
